<!DOCTYPE html>
<html>
<head>
    <title>Chess Web</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }

        input {
            padding: 8px;
            font-size: 16px;
        }
    </style>
</head>

<body>

    <h1>♟ Online Chess</h1>

    <button onclick="createGame()">Play With Friend</button>

    <br><br>

    <input type="text" id="roomInput" placeholder="Enter Room Code">
    <button onclick="joinGame()">Join Game</button>

    <script>
        async function createGame(){
            let res = await fetch('/create');
            let data = await res.json();
            window.location.href = "/game/" + data.room;
        }

        function joinGame(){
            let room = document.getElementById("roomInput").value.trim();
            if(room){
                window.location.href = "/game/" + room;
            }
        }
    </script>

</body>
</html>